invstm.json
[{"id":"b12df2de.6ef4d","type":"tab","label":"INVENTARIO_STM","disabled":true,"info":""},{"id":"2a825ccb.cc9df4","type":"link out","z":"b12df2de.6ef4d","name":"item","links":["8a36279.bdeb6d8"],"x":815,"y":220,"wires":[]},{"id":"bae2eda.8cacb1","type":"function","z":"b12df2de.6ef4d","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":220,"wires":[["2a825ccb.cc9df4"]]},{"id":"775b5c62.b31f54","type":"ui_table","z":"b12df2de.6ef4d","group":"843b3c3a.d2369","name":"ITEMTABLE TOTAL","order":2,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"LOC","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"maq","title":"MAQ","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phase","title":"PHASE","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN-STOCK","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stm","title":"STOCK-NOW","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":660,"y":160,"wires":[]},{"id":"5b5a4050.02bee","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `items` WHERE `location` LIKE '%STM%';","name":"INVENTORY","x":350,"y":160,"wires":[["775b5c62.b31f54","bae2eda.8cacb1","190a788b.b2bcb7"]]},{"id":"609e5b1f.4804f4","type":"link in","z":"b12df2de.6ef4d","name":"","links":[],"x":135,"y":160,"wires":[["5b5a4050.02bee"]]},{"id":"39a16ddc.252262","type":"comment","z":"b12df2de.6ef4d","name":"LIST ELEMENTS IN EDITOR","info":"","x":380,"y":280,"wires":[]},{"id":"d6152a9.af309d8","type":"comment","z":"b12df2de.6ef4d","name":"TABLE SELECT","info":"","x":340,"y":100,"wires":[]},{"id":"8a36279.bdeb6d8","type":"link in","z":"b12df2de.6ef4d","name":"","links":["2a825ccb.cc9df4"],"x":175,"y":680,"wires":[["98f09d3a.cc6d7"]]},{"id":"98f09d3a.cc6d7","type":"ui_dropdown","z":"b12df2de.6ef4d","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"953c7bf4.36a428","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":350,"y":680,"wires":[["85969612.6c7438"]]},{"id":"7d7d9fda.ded38","type":"ui_button","z":"b12df2de.6ef4d","name":"","group":"953c7bf4.36a428","order":5,"width":"16","height":"1","passthru":false,"label":"EDIT STOCK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":520,"wires":[["90beef9b.ccf71","fffefd14.f4389"]]},{"id":"f0124a2b.4e61d8","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `items` SET `stock_actual`=(`stock_actual`+$b) WHERE `id`=$a;","name":"INVENTORY","x":610,"y":580,"wires":[["ef26292d.c7b308"]]},{"id":"85969612.6c7438","type":"change","z":"b12df2de.6ef4d","name":"SET","rules":[{"t":"set","p":"user_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":740,"wires":[[]]},{"id":"fffefd14.f4389","type":"function","z":"b12df2de.6ef4d","name":"","func":"var b = flow.get(\"user_stock\");\nvar a = flow.get(\"user_item\");\n\nmsg.params = {\n    $a: a,\n    $b: b\n}\n\n// msg.topic = \"UPDATE `items` SET `stock_actual`=(SELECT `stock_actual` FROM `items` WHERE `id`=\"+a+\")+\"+b+\" WHERE `id`=\"+a+\"\";\nmsg.topic = \"UPDATE `items` SET `stock_stm`=(`stock_stm`+\"+b+\") WHERE `id`=\"+a+\";\"\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"user_stock\",undefined);\nflow.set(\"user_item\",undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":520,"wires":[["f0124a2b.4e61d8","64b1a13c.17e83"]]},{"id":"252714bf.795e4c","type":"function","z":"b12df2de.6ef4d","name":"","func":"var a = flow.get(\"user_item\") != undefined;\nvar b = flow.get(\"user_stock\") != undefined;\nvar c = flow.get(\"user_stock\") != 0;\nif(a && b && c) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":520,"wires":[["7d7d9fda.ded38"]]},{"id":"b4538cdd.5fbc9","type":"inject","z":"b12df2de.6ef4d","name":"1'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":320,"wires":[["252714bf.795e4c"]]},{"id":"e94396f0.854868","type":"ui_slider","z":"b12df2de.6ef4d","name":"STOCK USED","label":"STOCK VARIATION","tooltip":"","group":"953c7bf4.36a428","order":2,"width":"14","height":"1","passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":"-10","max":10,"step":1,"className":"","x":600,"y":680,"wires":[["aa169bab.72af38","252c4fbb.8d23d"]]},{"id":"90beef9b.ccf71","type":"function","z":"b12df2de.6ef4d","name":"","func":"return [{payload: null},{payload: 0}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["98f09d3a.cc6d7"],["e94396f0.854868","252c4fbb.8d23d"]]},{"id":"ef26292d.c7b308","type":"link out","z":"b12df2de.6ef4d","name":"user","links":["f175c7e8.f86d18"],"x":875,"y":580,"wires":[]},{"id":"aa169bab.72af38","type":"change","z":"b12df2de.6ef4d","name":"SET","rules":[{"t":"set","p":"user_stock","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":740,"wires":[[]]},{"id":"5263802f.53bcb","type":"ui_text","z":"b12df2de.6ef4d","group":"953c7bf4.36a428","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"EDIT STOCK ACTUAL\"}} </font></strong>","layout":"row-center","className":"","x":570,"y":440,"wires":[]},{"id":"252c4fbb.8d23d","type":"ui_text","z":"b12df2de.6ef4d","group":"953c7bf4.36a428","order":3,"width":"2","height":"1","name":"","label":"","format":"<strong><font color= #00CCCC> {{msg.payload}} </font></strong>","layout":"row-center","className":"","x":850,"y":640,"wires":[]},{"id":"12b71ca.de641e3","type":"ui_ui_control","z":"b12df2de.6ef4d","name":"","events":"all","x":580,"y":360,"wires":[[]]},{"id":"51d01d20.d53ea4","type":"comment","z":"b12df2de.6ef4d","name":"es podria intentar no fer una query extra treballant amb stock actual i el min-stock, per no haver de comprovar tots els ítems","info":"","x":530,"y":960,"wires":[]},{"id":"938f6787.54b698","type":"function","z":"b12df2de.6ef4d","name":"","func":"var low_stock = false;\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(!msg.low.includes(msg.payload[i].id)) {\n        msg.topic = `INSERT INTO low_stock(item_id,name,location,min_stock,stock_stb,stock_str,stock_stp,stock_stm,ordered) VALUES(${msg.payload[i].id},'${msg.payload[i].name}','${msg.payload[i].location}',${msg.payload[i].min_stock},${msg.payload[i].stock_stb},${msg.payload[i].stock_str},${msg.payload[i].stock_stp},${msg.payload[i].stock_stm},0)`;\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":1120,"wires":[["ad485277.8700e"]]},{"id":"e8327854.f29578","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT `item_id` FROM `low_stock` WHERE `location` LIKE '%STM%';","name":"INVENTORY","x":370,"y":1020,"wires":[["4f992068.f86b9"]]},{"id":"4f992068.f86b9","type":"function","z":"b12df2de.6ef4d","name":"","func":"// si ens interessés agafar més que l'id podríem canviar el zero\n// per una j i iterar pel nombre de propietats que volguéssim agafar\n\nvar array = []\nfor(var i = 0; i < msg.payload.length; ++i) {\n    array.push(Object.values(msg.payload[i])[0])\n}\nmsg.low = array\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1020,"wires":[["d1b7b0ec.67be7"]]},{"id":"d1b7b0ec.67be7","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT `id`,`name`,`min_stock`,`stock_stb`,`stock_str`,`stock_stp`,`stock_stm` FROM `items` WHERE `min_stock`>=`stock_stm`;","name":"INVENTORY","x":870,"y":1020,"wires":[["938f6787.54b698"]]},{"id":"92af92e.ff2217","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `low_stock` WHERE `location` LIKE '%STM%';","name":"INVENTORY","x":610,"y":1200,"wires":[["635a8cae.e37344","d642bf90.c8fed"]]},{"id":"9ff8c48f.2bc938","type":"comment","z":"b12df2de.6ef4d","name":"COMPROVEM MINSTOCK VS ACTUAL_STOCK","info":"","x":300,"y":900,"wires":[]},{"id":"ad485277.8700e","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"SELECT * FROM `low_stock` WHERE `ordered`=0;","name":"INVENTORY","x":370,"y":1120,"wires":[[]]},{"id":"4175a2e8.48e52c","type":"ui_table","z":"b12df2de.6ef4d","group":"843b3c3a.d2369","name":"ITEMTABLE NOORDERED","order":4,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stm","title":"NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":660,"y":1120,"wires":[]},{"id":"b37adcbe.db396","type":"delay","z":"b12df2de.6ef4d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":1200,"wires":[["92af92e.ff2217"]]},{"id":"6d10773e.d1d018","type":"telegram receiver","z":"b12df2de.6ef4d","d":true,"name":"EVENT LISTENER","bot":"35d1d63d.95944a","saveDataDir":"","filterCommands":false,"x":1250,"y":940,"wires":[["1e650b81.013944"],["1e650b81.013944"]]},{"id":"1e650b81.013944","type":"function","z":"b12df2de.6ef4d","d":true,"name":"","func":"var possibles_respostes = [\"Y\",\"YES\",\"yes\",\"ye\",\"y\",\"s\",\"si\",\"sí\",\"N\",\"n\",\"NO\",\"no\"];\nif(!possibles_respostes.includes(msg.payload.content)) {\n   return [{payload:{\n       content: \"PLEASE TRY AGAIN. BAD INPUT\",\n       type: \"message\",\n       chatId: \"5019177108\"\n   }},null] \n} else {\n    if(possibles_respostes.slice(0,8).includes(msg.payload.content)) {\n        \n    } else if(possibles_respostes.slice(8).includes(msg.payload.content)) {\n        \n    } else {\n        return [{payload:{\n            content: \"PLEASE TRY AGAIN. UNKNOWN ERROR\",\n            type: \"message\",\n            chatId: \"5019177108\"\n        }},null] \n    }\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":880,"wires":[[],[]]},{"id":"98d91bd7.bfe488","type":"ui_text","z":"b12df2de.6ef4d","group":"843b3c3a.d2369","order":5,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK AND HAS BEEN ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1150,"y":1060,"wires":[]},{"id":"ba1e2a79.8ad478","type":"ui_text","z":"b12df2de.6ef4d","group":"843b3c3a.d2369","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"LIST OF ALL ITEMS\"}} </font></strong>","layout":"row-center","className":"","x":150,"y":100,"wires":[]},{"id":"548f3aed.3ba4d4","type":"ui_text","z":"b12df2de.6ef4d","group":"843b3c3a.d2369","order":3,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK NO ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1150,"y":1140,"wires":[]},{"id":"2451de.6a47ce22","type":"ui_table","z":"b12df2de.6ef4d","group":"843b3c3a.d2369","name":"ITEMTABLE ORDERED","order":6,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stm","title":"NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":890,"y":1300,"wires":[]},{"id":"7c717e52.380ce","type":"ui_dropdown","z":"b12df2de.6ef4d","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"5de87a9a.808364","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":350,"y":1400,"wires":[["a406b95e.7488c8"]]},{"id":"fcdd9901.1433d8","type":"ui_button","z":"b12df2de.6ef4d","name":"","group":"5de87a9a.808364","order":3,"width":"16","height":"1","passthru":false,"label":"EDIT ORDER STATUS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":400,"y":1520,"wires":[["393f55c9.3bbb5a","bfd0b7e8.247208"]]},{"id":"72b1ede4.c7e3c4","type":"ui_text","z":"b12df2de.6ef4d","group":"ab942ba8.0ae498","order":1,"width":0,"height":0,"name":"ORDER STATUS","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"ORDER ITEM\"}} </font></strong>","layout":"row-center","className":"","x":1110,"y":1100,"wires":[]},{"id":"76f3fff1.c8a47","type":"function","z":"b12df2de.6ef4d","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1300,"wires":[["7c717e52.380ce"]]},{"id":"a818a359.0d4e4","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `low_stock` SET `ordered`=1 WHERE `id`=$a;","name":"INVENTORY","x":710,"y":1500,"wires":[["87a56bb.098ab98"]]},{"id":"751de558.788f5c","type":"link out","z":"b12df2de.6ef4d","name":"ordered","links":["f175c7e8.f86d18","76f84a6d.f5a524"],"x":1035,"y":1500,"wires":[]},{"id":"393f55c9.3bbb5a","type":"function","z":"b12df2de.6ef4d","name":"","func":"var a = flow.get(\"order_item\");\n\nmsg.params = {\n    $a: a\n}\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"order_item\",undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1400,"wires":[["a818a359.0d4e4"]]},{"id":"bfd0b7e8.247208","type":"function","z":"b12df2de.6ef4d","name":"SET","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1460,"wires":[["7c717e52.380ce"]],"icon":"node-red/swap.svg"},{"id":"aa0d765a.1ba0d8","type":"inject","z":"b12df2de.6ef4d","name":"1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1620,"wires":[["a1078d6a.13849"]]},{"id":"a1078d6a.13849","type":"function","z":"b12df2de.6ef4d","name":"","func":"if(flow.get(\"order_item\") != undefined) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1620,"wires":[["fcdd9901.1433d8"]]},{"id":"a406b95e.7488c8","type":"change","z":"b12df2de.6ef4d","name":"SET","rules":[{"t":"set","p":"order_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1400,"wires":[[]]},{"id":"f175c7e8.f86d18","type":"link in","z":"b12df2de.6ef4d","name":"","links":["751de558.788f5c","d642bf90.c8fed","ef26292d.c7b308"],"x":175,"y":1200,"wires":[["e8327854.f29578","b37adcbe.db396"]]},{"id":"87a56bb.098ab98","type":"delay","z":"b12df2de.6ef4d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1500,"wires":[["751de558.788f5c"]]},{"id":"64b1a13c.17e83","type":"sqlite","z":"b12df2de.6ef4d","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `low_stock` SET `stock_actual`=(`stock_actual`+$b) WHERE `item_id`=$a;","name":"INVENTORY","x":830,"y":520,"wires":[[]]},{"id":"751c4d8.2cb88b4","type":"link in","z":"b12df2de.6ef4d","name":"","links":["d642bf90.c8fed"],"x":155,"y":2000,"wires":[["728e598f.b9d1b8"]]},{"id":"75e9622c.9c82fc","type":"comment","z":"b12df2de.6ef4d","name":"MIRAREM QUE NO PUGUEM TREURE ALGUN DELS VALORS DE LA LLISTA DE LOW_STOCK (aprofitant queries ja fetes)","info":"","x":500,"y":1920,"wires":[]},{"id":"635a8cae.e37344","type":"function","z":"b12df2de.6ef4d","name":"SET msg.payload","func":"var array_order = [];\nvar array_noorder = [];\n\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].ordered === 0) {\n        array_noorder.push(msg.payload[i])\n    } else {\n        array_order.push(msg.payload[i])\n    }\n}\nreturn [{payload: array_noorder},{payload: array_order}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1200,"wires":[["76f3fff1.c8a47","4175a2e8.48e52c"],["2451de.6a47ce22"]],"icon":"node-red/swap.svg"},{"id":"d642bf90.c8fed","type":"link out","z":"b12df2de.6ef4d","name":"low_stock","links":["751c4d8.2cb88b4","f175c7e8.f86d18"],"x":655,"y":1300,"wires":[]},{"id":"728e598f.b9d1b8","type":"function","z":"b12df2de.6ef4d","name":"","func":"for(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].min_stock < msg.payload[i].stock_actual) {\n        msg.topic = `DELETE FROM low_stock WHERE id=${msg.payload[i].id}`;\n        node.send(msg);\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2000,"wires":[["c75036c7.71b508"]]},{"id":"c75036c7.71b508","type":"link out","z":"b12df2de.6ef4d","name":"low_stock delete if greater/equal","links":["9ca52453.597e58"],"x":715,"y":2000,"wires":[]},{"id":"9ca52453.597e58","type":"link in","z":"b12df2de.6ef4d","name":"","links":["c75036c7.71b508"],"x":175,"y":1040,"wires":[["ad485277.8700e"]]},{"id":"b42d1a42.34e808","type":"ui_button","z":"b12df2de.6ef4d","name":"","group":"785b33fd.d1299c","order":1,"width":"8","height":"1","passthru":false,"label":"HOME","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"dashboard","payload":"{\"tab\":\"0\"}","payloadType":"json","topic":"","topicType":"str","x":310,"y":360,"wires":[["12b71ca.de641e3"]]},{"id":"b32f286c.985de8","type":"ui_text","z":"b12df2de.6ef4d","group":"785b33fd.d1299c","order":2,"width":"8","height":"1","name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"MEXICO\"}} </font></strong>","layout":"row-center","className":"","x":150,"y":60,"wires":[]},{"id":"37986e95.97f9b2","type":"inject","z":"b12df2de.6ef4d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["5b5a4050.02bee"]]},{"id":"190a788b.b2bcb7","type":"debug","z":"b12df2de.6ef4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":80,"wires":[]},{"id":"843b3c3a.d2369","type":"ui_group","name":"Group 3","tab":"2b1be1be.a2a37e","order":3,"disp":false,"width":"16","collapse":false,"className":""},{"id":"f017de5e.2fd5b","type":"sqlitedb","db":"/home/pi/inventory.db","mode":"RWC"},{"id":"953c7bf4.36a428","type":"ui_group","name":"Group 2","tab":"2b1be1be.a2a37e","order":2,"disp":false,"width":"16","collapse":false,"className":""},{"id":"35d1d63d.95944a","type":"telegram bot","botname":"mariosandhar_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5de87a9a.808364","type":"ui_group","name":"Group 4","tab":"2b1be1be.a2a37e","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"ab942ba8.0ae498","type":"ui_group","d":true,"name":"Group 4","tab":"598c4da3.0b6444","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"785b33fd.d1299c","type":"ui_group","name":"Group 1","tab":"2b1be1be.a2a37e","order":1,"disp":false,"width":"16","collapse":false,"className":""},{"id":"2b1be1be.a2a37e","type":"ui_tab","name":"INVENTARIO_STM","icon":"dashboard","order":37,"disabled":false,"hidden":false},{"id":"598c4da3.0b6444","type":"ui_tab","name":"INVENTARIO_STP","icon":"dashboard","order":38,"disabled":false,"hidden":false}]