resources/old-flows/flows (1).json
[{"id":"17245db2.768872","type":"tab","label":"INVENTARIO","disabled":true,"info":""},{"id":"633981e5.9b32b","type":"ui_button","z":"17245db2.768872","name":"","group":"cc23078f.fd1928","order":8,"width":"6","height":"1","passthru":false,"label":"CREATE ITEM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":1060,"y":320,"wires":[["69699ee5.46de1","70381801.420dc8"]]},{"id":"a08c9aa4.711fb8","type":"ui_button","z":"17245db2.768872","name":"","group":"5b84c717.7cfdf8","order":8,"width":0,"height":0,"passthru":false,"label":"EDIT ITEM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"edit","payloadType":"str","topic":"topic","topicType":"msg","x":2050,"y":320,"wires":[["b0987f45.cdba","2092985b.296e68"]]},{"id":"9db6083a.0ed218","type":"ui_button","z":"17245db2.768872","name":"","group":"3dc3a5ad.d45f1a","order":3,"width":0,"height":0,"passthru":false,"label":"DELETE ITEM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"delete","payloadType":"str","topic":"topic","topicType":"msg","x":3340,"y":320,"wires":[["d01115f4.8081b8","a386b527.36c1d8"]]},{"id":"4fa92824.078098","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"phase","tooltip":"","place":"Select option","group":"cc23078f.fd1928","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"GENERAL","value":"0","type":"str"},{"label":"STATION 1","value":1,"type":"num"},{"label":"STATION 2","value":2,"type":"num"},{"label":"STATION 3","value":3,"type":"num"},{"label":"STATION 4","value":4,"type":"num"},{"label":"STATION 5","value":5,"type":"num"},{"label":"EXTRACTION","value":6,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1270,"y":560,"wires":[["5af971ea.ce518"]]},{"id":"19934716.305f39","type":"ui_numeric","z":"17245db2.768872","name":"","label":"minimum stock","tooltip":"","group":"cc23078f.fd1928","order":6,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":1300,"y":640,"wires":[["740a3199.fb9d4"]]},{"id":"27673412.7b653c","type":"ui_numeric","z":"17245db2.768872","name":"","label":"actual stock","tooltip":"","group":"cc23078f.fd1928","order":7,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":1290,"y":680,"wires":[["a362c46a.b57ff8"]]},{"id":"152d4897.6fa4f7","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"location","tooltip":"","place":"Select option","group":"cc23078f.fd1928","order":5,"width":0,"height":0,"passthru":false,"multiple":true,"options":[{"label":"STB","value":"STB","type":"str"},{"label":"STP","value":"STP","type":"str"},{"label":"STR","value":"STR","type":"str"},{"label":"STM","value":"STM","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1282.5,"y":600,"wires":[["e244cfa8.ad873"]]},{"id":"4a0452ae.89b3ac","type":"ui_text_input","z":"17245db2.768872","name":"","label":"machine","tooltip":"","group":"cc23078f.fd1928","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":1280,"y":520,"wires":[["1e41c977.5a0a97"]]},{"id":"912b1bfa.1970c8","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"phase","tooltip":"","place":"Select option","group":"5b84c717.7cfdf8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"GENERAL","value":"0","type":"str"},{"label":"STATION 1","value":1,"type":"num"},{"label":"STATION 2","value":2,"type":"num"},{"label":"STATION 3","value":3,"type":"num"},{"label":"STATION 4","value":4,"type":"num"},{"label":"STATION 5","value":5,"type":"num"},{"label":"EXTRACTION","value":"6","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":2290,"y":540,"wires":[["ca0d554.532d6a8"]]},{"id":"fcf5ab25.b5fc78","type":"ui_numeric","z":"17245db2.768872","name":"","label":"minimum stock","tooltip":"","group":"5b84c717.7cfdf8","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":2320,"y":620,"wires":[["dd52be4c.28c68"]]},{"id":"e0a14876.d67318","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"location","tooltip":"","place":"Select option","group":"5b84c717.7cfdf8","order":5,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"STB","value":"STB","type":"str"},{"label":"STP","value":"STP","type":"str"},{"label":"STR","value":"STR","type":"str"},{"label":"STM","value":"STM","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":2302.5,"y":580,"wires":[["f7f11a2d.2a7308"]]},{"id":"16488da4.b6fcc2","type":"ui_text_input","z":"17245db2.768872","name":"","label":"machine","tooltip":"","group":"5b84c717.7cfdf8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":2300,"y":500,"wires":[["edc08ddd.25c0f"]]},{"id":"98d4a88c.bea038","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"5b84c717.7cfdf8","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":2290,"y":660,"wires":[["e33b9993.4d1588","90777467.065fc8"]]},{"id":"7040aa40.3efbe4","type":"ui_text_input","z":"17245db2.768872","name":"","label":"name","tooltip":"","group":"cc23078f.fd1928","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":1270,"y":480,"wires":[["5362a203.fddbdc"]]},{"id":"10edbbf5.dad454","type":"ui_text","z":"17245db2.768872","group":"cc23078f.fd1928","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"CREATE ITEM\"}} </font></strong>","layout":"row-center","className":"","x":1270,"y":780,"wires":[]},{"id":"eccb326d.0c429","type":"ui_text","z":"17245db2.768872","group":"5b84c717.7cfdf8","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"EDIT ITEM\"}} </font></strong>","layout":"row-center","className":"","x":2290,"y":800,"wires":[]},{"id":"fc931a01.6f4848","type":"ui_text","z":"17245db2.768872","group":"3dc3a5ad.d45f1a","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"DELETE ITEM\"}} </font></strong>","layout":"row-center","className":"","x":3090,"y":500,"wires":[]},{"id":"d01115f4.8081b8","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"3dc3a5ad.d45f1a","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":3090,"y":460,"wires":[["42150797.3710a8"]]},{"id":"ba6c5ba8.5b7dc8","type":"inject","z":"17245db2.768872","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":80,"wires":[[]]},{"id":"56392632.f57348","type":"function","z":"17245db2.768872","name":"","func":"var a = flow.get(\"create_name\") != undefined;\nvar b = flow.get(\"create_machine\") != undefined;\nvar c = flow.get(\"create_phase\") != undefined;\nvar d = flow.get(\"create_location\") != undefined;\nvar e = flow.get(\"create_minstock\") != undefined;\nvar f = flow.get(\"create_actstock\") != undefined;\nvar g = flow.get(\"create_reference\") != undefined;\nif(a && b && c && d && e && f && g) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":320,"wires":[["633981e5.9b32b"]]},{"id":"a2ec7741.bddf08","type":"function","z":"17245db2.768872","name":"","func":"var a = flow.get(\"edit_name\") != undefined;\nvar b = flow.get(\"edit_machine\") != undefined;\nvar c = flow.get(\"edit_phase\") != undefined;\nvar d = flow.get(\"edit_location\") != undefined;\nvar e = flow.get(\"edit_minstock\") != undefined;\nvar f = flow.get(\"edit_item\") != undefined;\nvar g = flow.get(\"edit_reference\") != undefined;\n\nvar array = [a,b,c,d,e,g];\n\n// s'ha editat com a mínim un paràmetre\nif(f && array.includes(true)) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":320,"wires":[["a08c9aa4.711fb8"]]},{"id":"67198dd5.d66a64","type":"function","z":"17245db2.768872","name":"","func":"var f = flow.get(\"delete_item\") != undefined;\nif(f) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3080,"y":320,"wires":[["9db6083a.0ed218"]]},{"id":"42a69889.8a22e8","type":"ui_text_input","z":"17245db2.768872","name":"","label":"name","tooltip":"","group":"5b84c717.7cfdf8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":2290,"y":460,"wires":[["48cfed16.e30764"]]},{"id":"69699ee5.46de1","type":"function","z":"17245db2.768872","name":"","func":"var a = flow.get(\"create_name\")\nvar b = flow.get(\"create_machine\")\nvar c = flow.get(\"create_phase\")\nvar d = flow.get(\"create_location\")\nvar e = flow.get(\"create_minstock\")\nvar f = flow.get(\"create_actstock\")\nvar g = flow.get(\"create_reference\")\n\n// mirem en quines posicions posem stock mínim\nvar all_locations = [\"STB\",\"STR\",\"STP\",\"STM\"];\nvar object = {stb: -1, str: -1, stp: -1, stm: -1}\nfor (var i = 0; i < d.length; ++i) {\n    var index = all_locations.indexOf(d[i]);\n    object[all_locations[index].toLowerCase()] = f;\n}\n\nmsg.params = {\n    $a: a,\n    $b: b,\n    $c: c,\n    $d: d,\n    $e: e,\n    // $f: f,\n    $g: g,\n    $h: object.stb,\n    $i: object.str,\n    $j: object.stp,\n    $k: object.stm\n}\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"create_name\",undefined)\nflow.set(\"create_machine\",undefined)\nflow.set(\"create_phase\",undefined)\nflow.set(\"create_location\",undefined)\nflow.set(\"create_minstock\",undefined)\nflow.set(\"create_actstock\",undefined)\nflow.set(\"create_reference\",undefined)\n\n\nreturn [msg,null];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":320,"wires":[["8c5ef16f.99e4e"],[]]},{"id":"70381801.420dc8","type":"function","z":"17245db2.768872","name":"","func":"return [{payload:\"\"},{payload:\"\"},{payload:null},{payload:null},{payload:0},{payload:0},{payload:\"\"}]","outputs":7,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":580,"wires":[["7040aa40.3efbe4"],["4a0452ae.89b3ac"],["4fa92824.078098"],["152d4897.6fa4f7"],["19934716.305f39"],["27673412.7b653c"],["ad32219d.6f1f2"]]},{"id":"5362a203.fddbdc","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"create_name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":480,"wires":[[]]},{"id":"5af971ea.ce518","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"create_phase","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":560,"wires":[[]]},{"id":"e244cfa8.ad873","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"create_location","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":600,"wires":[[]]},{"id":"740a3199.fb9d4","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"create_minstock","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":640,"wires":[[]]},{"id":"a362c46a.b57ff8","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"create_actstock","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":680,"wires":[[]]},{"id":"2092985b.296e68","type":"function","z":"17245db2.768872","name":"","func":"return [{payload:\"\"},{payload:\"\"},{payload:null},{payload:null},{payload:0},{payload:null}]","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":580,"wires":[["42a69889.8a22e8"],["16488da4.b6fcc2","ece8f95e.f8dab8"],["912b1bfa.1970c8"],["e0a14876.d67318"],["fcf5ab25.b5fc78"],["98d4a88c.bea038"]]},{"id":"b0987f45.cdba","type":"function","z":"17245db2.768872","name":"","func":"var a = flow.get(\"edit_name\")\nvar b = flow.get(\"edit_machine\")\nvar c = flow.get(\"edit_phase\")\nvar d = flow.get(\"edit_location\")\nvar e = flow.get(\"edit_minstock\")\nvar f = flow.get(\"edit_item\")\nvar g = flow.get(\"edit_reference\")\n\nmsg.params = {\n    $a: a,\n    $b: b,\n    $c: c,\n    $d: d,\n    $e: e,\n    $f: f,\n    $g: g\n}\n\nmsg.topic = `UPDATE low_stock SET name='${a}',location='${d}',min_stock=${e} WHERE item_id=${f}`;\n\n// quan hem acabat desactivem el botó EDIT\nflow.set(\"edit_name\",undefined)\nflow.set(\"edit_machine\",undefined)\nflow.set(\"edit_phase\",undefined)\nflow.set(\"edit_location\",undefined)\nflow.set(\"edit_minstock\",undefined)\nflow.set(\"edit_item\",undefined)\nflow.set(\"edit_reference\",undefined)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2300,"y":320,"wires":[["fa26f0a7.3e08b","5d4cc5b9.b0c27c"]]},{"id":"48cfed16.e30764","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"edit_name","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":460,"wires":[[]]},{"id":"edc08ddd.25c0f","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"edit_machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":500,"wires":[[]]},{"id":"ca0d554.532d6a8","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"edit_phase","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":540,"wires":[[]]},{"id":"f7f11a2d.2a7308","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"edit_location","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":580,"wires":[[]]},{"id":"dd52be4c.28c68","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"edit_minstock","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":620,"wires":[[]]},{"id":"e33b9993.4d1588","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"edit_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":660,"wires":[[]]},{"id":"8c5ef16f.99e4e","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"INSERT INTO `items`(`name`,`maq`,`phase`,`location`,`reference`,`min_stock`,`stock_stb`,`stock_str`,`stock_stp`,`stock_stm`) VALUES($a,$b,$c,$d,$g,$e,$h,$i,$j,$k)","name":"INVENTORY","x":1290,"y":400,"wires":[["271ce25a.498f0e"]]},{"id":"42150797.3710a8","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"delete_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3310,"y":460,"wires":[[]]},{"id":"a386b527.36c1d8","type":"function","z":"17245db2.768872","name":"","func":"var f = flow.get(\"delete_item\")\nmsg.params = {\n    $a: f\n}\n// quan hem acabat desactivem el botó DELETE\nflow.set(\"delete_item\",undefined)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3600,"y":320,"wires":[["182dc4ae.c065bb","b77d974.1ccc668"]]},{"id":"fa26f0a7.3e08b","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"UPDATE `items` SET `name`=$a,`maq`=$b,`phase`=$c,`location`=$d,`reference`=$g,`min_stock`=$e WHERE `id`=$f","name":"INVENTORY","x":2310,"y":400,"wires":[["987a75eb.5344e8"]]},{"id":"504d3b3b.604154","type":"link in","z":"17245db2.768872","name":"","links":[],"x":2115,"y":660,"wires":[["98d4a88c.bea038"]]},{"id":"7164db68.d90444","type":"link out","z":"17245db2.768872","name":"item","links":[],"x":855,"y":520,"wires":[]},{"id":"4dbb1efb.ae816","type":"link in","z":"17245db2.768872","name":"","links":[],"x":2895,"y":460,"wires":[["d01115f4.8081b8"]]},{"id":"df975d9ca1ce1bd7","type":"ui_button","z":"17245db2.768872","name":"","group":"ecb41ae5.77ba98","order":3,"width":"6","height":"1","passthru":false,"label":"EDITOR VIEW","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"battery_charging_90","payload":"{\"tab\":\"INVENTARIO_DEV\"}","payloadType":"json","topic":"","topicType":"str","x":340,"y":200,"wires":[["47ce3acc.f06564"]]},{"id":"2e2a64d61894b172","type":"ui_button","z":"17245db2.768872","name":"","group":"ecb41ae5.77ba98","order":2,"width":0,"height":0,"passthru":false,"label":"USER VIEW","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"battery_charging_50","payload":"{\"tab\":\"INVENTARIO_USER\"}","payloadType":"json","topic":"","topicType":"str","x":350,"y":160,"wires":[["47ce3acc.f06564"]]},{"id":"50fa41597bb0b193","type":"ui_text","z":"17245db2.768872","group":"ecb41ae5.77ba98","order":1,"width":"6","height":"3","name":"QUÉ VISTA","label":"","format":"QUÉ VISTA QUIERES VER","layout":"row-center","className":"","x":350,"y":120,"wires":[]},{"id":"271ce25a.498f0e","type":"link out","z":"17245db2.768872","name":"create","links":["3b237080.2e498"],"x":1535,"y":400,"wires":[]},{"id":"52ff29c1.1ac1e8","type":"function","z":"17245db2.768872","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":520,"wires":[["7164db68.d90444","b5f368df.9aefd8"]]},{"id":"182dc4ae.c065bb","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"DELETE FROM `items` WHERE `id`=$a","name":"INVENTORY","x":3610,"y":420,"wires":[["5f1c9a49.6cf0d4"]]},{"id":"db72f4cf.30dd18","type":"ui_table","z":"17245db2.768872","group":"3b07d5d2.35cbfa","name":"ITEMTABLE TOTAL","order":2,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"LOC","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"maq","title":"MAQ","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"reference","title":"REFERENCE","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phase","title":"PHASE","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN-STOCK","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stb","title":"STOCK-STB","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_str","title":"STOCK-STR","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stp","title":"STOCK-STP","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stm","title":"STOCK-STM","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":760,"y":420,"wires":[]},{"id":"ed2af026.faeb8","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `items`;","name":"INVENTORY","x":430,"y":460,"wires":[["db72f4cf.30dd18","5416ce2e.ca992","52ff29c1.1ac1e8","c14a88c0.cb98f8"]]},{"id":"530feabf.fbd634","type":"link in","z":"17245db2.768872","name":"","links":[],"x":235,"y":460,"wires":[["ed2af026.faeb8"]]},{"id":"987a75eb.5344e8","type":"link out","z":"17245db2.768872","name":"edit","links":[],"x":2535,"y":400,"wires":[]},{"id":"5f1c9a49.6cf0d4","type":"link out","z":"17245db2.768872","name":"delete","links":[],"x":3755,"y":420,"wires":[]},{"id":"f1b354b6.074648","type":"comment","z":"17245db2.768872","name":"LIST ELEMENTS IN EDITOR","info":"","x":480,"y":580,"wires":[]},{"id":"11bf1830.ef3518","type":"comment","z":"17245db2.768872","name":"TABLE SELECT","info":"","x":440,"y":400,"wires":[]},{"id":"54f533e7.a3178c","type":"link in","z":"17245db2.768872","name":"","links":[],"x":255,"y":1020,"wires":[["7569a2b9.0c443c"]]},{"id":"7569a2b9.0c443c","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"d37d52d.e17c9b","order":5,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":430,"y":1020,"wires":[["1deb4413.236c7c"]]},{"id":"a517f3a0.b66d8","type":"ui_button","z":"17245db2.768872","name":"","group":"d37d52d.e17c9b","order":6,"width":"16","height":"1","passthru":false,"label":"EDIT STOCK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":460,"y":820,"wires":[["ed537020.d1f71","2b63cb9e.218ad4"]]},{"id":"cd5045bd.be2638","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `items` SET `stock_actual`=(`stock_actual`+$b) WHERE `id`=$a;","name":"INVENTORY","x":710,"y":880,"wires":[["320c5756.dd78c8"]]},{"id":"1deb4413.236c7c","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"user_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1020,"wires":[[]]},{"id":"59f56ea3.e60ce","type":"function","z":"17245db2.768872","name":"","func":"var a = flow.get(\"user_item\") != undefined;\nvar b = flow.get(\"user_stock\") != undefined;\nvar c = flow.get(\"user_stock\") != 0;\nvar d = flow.get(\"user_location\") != undefined;\n\nif(a && b && c && d) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":820,"wires":[["a517f3a0.b66d8"]]},{"id":"69b7dc5a.a302a4","type":"inject","z":"17245db2.768872","name":"1'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":740,"wires":[["59f56ea3.e60ce"]]},{"id":"59a7e696.c5c4d8","type":"ui_slider","z":"17245db2.768872","name":"STOCK USED","label":"STOCK VARIATION","tooltip":"","group":"d37d52d.e17c9b","order":2,"width":"14","height":"1","passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":"-10","max":10,"step":1,"className":"","x":460,"y":980,"wires":[["35236fdc.6b2de","97dfafd8.93074"]]},{"id":"ed537020.d1f71","type":"function","z":"17245db2.768872","name":"","func":"return [{payload: null},{payload: 0}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":900,"wires":[["7569a2b9.0c443c","8a97b86a.8666b8"],["59a7e696.c5c4d8","97dfafd8.93074"]]},{"id":"b42dce68.da7db","type":"link out","z":"17245db2.768872","name":"user","links":[],"x":1075,"y":880,"wires":[]},{"id":"5416ce2e.ca992","type":"ui_table","z":"17245db2.768872","group":"55dc06a5.0069e8","name":"ITEMTABLE","order":0,"width":"6","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"LOC","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"maq","title":"MAQ","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phase","title":"PHA","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":730,"y":460,"wires":[]},{"id":"35236fdc.6b2de","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"user_stock","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":980,"wires":[[]]},{"id":"cac4d379.929e4","type":"ui_text","z":"17245db2.768872","group":"d37d52d.e17c9b","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"EDIT STOCK ACTUAL\"}} </font></strong>","layout":"row-center","className":"","x":670,"y":740,"wires":[]},{"id":"97dfafd8.93074","type":"ui_text","z":"17245db2.768872","group":"d37d52d.e17c9b","order":3,"width":"2","height":"1","name":"","label":"","format":"<strong><font color= #00CCCC> {{msg.payload}} </font></strong>","layout":"row-center","className":"","x":950,"y":980,"wires":[]},{"id":"f3ba65ee.577b38","type":"ui_button","z":"17245db2.768872","name":"","group":"5b1dd9dd.8b6b28","order":2,"width":"8","height":"1","passthru":false,"label":"EDITOR VIEW","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"battery_charging_90","payload":"{\"tab\":\"+1\"}","payloadType":"json","topic":"","topicType":"str","x":460,"y":660,"wires":[["56690fa9.009b9"]]},{"id":"e667da31.3e91f8","type":"ui_button","z":"17245db2.768872","name":"","group":"73689187.10f7a","order":3,"width":"3","height":"1","passthru":false,"label":"USER VIEW","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"battery_charging_50","payload":"{\"tab\":\"-1\"}","payloadType":"json","topic":"","topicType":"str","x":1730,"y":600,"wires":[["b46e6f4b.de376"]]},{"id":"47ce3acc.f06564","type":"ui_ui_control","z":"17245db2.768872","name":"","events":"all","x":560,"y":180,"wires":[[]]},{"id":"56690fa9.009b9","type":"ui_ui_control","z":"17245db2.768872","name":"","events":"all","x":680,"y":660,"wires":[[]]},{"id":"b46e6f4b.de376","type":"ui_ui_control","z":"17245db2.768872","name":"","events":"all","x":1740,"y":660,"wires":[[]]},{"id":"f5c79cf4.5076c","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"SELECT * FROM `items` WHERE `id`=$a;","name":"INVENTORY","x":2750,"y":660,"wires":[["ef17fc59.2a15c"]]},{"id":"ef17fc59.2a15c","type":"link out","z":"17245db2.768872","name":"query","links":["99c3af62.d9c41"],"x":2695,"y":600,"wires":[]},{"id":"ff5981b.a8ef88","type":"function","z":"17245db2.768872","name":"","func":"/*\nvar array = []\narray.push(JSON.parse(`{\"payload\": \"${msg.payload[0].name}\"}`))\narray.push(JSON.parse(`{\"payload\": \"${msg.payload[0].maq}\"}`))\narray.push(JSON.parse(`{\"payload\": ${msg.payload[0].phase}}`))\narray.push(JSON.parse(`{\"payload\": \"${msg.payload[0].location}\"}`))\narray.push(JSON.parse(`{\"payload\": ${msg.payload[0].min_stock}}`));\n*/\n\nvar result = [msg.payload[0].name,msg.payload[0].maq,msg.payload[0].phase,msg.payload[0].location,msg.payload[0].min_stock,msg.payload[0].reference]\nvar array = []\nconst ATR_LENGTH = 6;\n\n// pot estar a múltiples localitzacions\nvar locats = result[3].split(\",\");\nmsg.locats = locats;\n\nfor(var i = 0; i < ATR_LENGTH; ++i) {\n    if(i == 2 || i == 4) {\n        array.push(JSON.parse(`{\"payload\":${result[i]}}`));\n    } else if (i == 3) {\n        array.push(JSON.parse(`{\"payload\":\"${locats}\"}`));\n    } \n    else {\n        array.push(JSON.parse(`{\"payload\":\"${result[i]}\"}`));\n    }\n}\n\n\nreturn array;","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":460,"wires":[["42a69889.8a22e8"],["16488da4.b6fcc2"],["912b1bfa.1970c8"],["e0a14876.d67318"],["fcf5ab25.b5fc78"],["ece8f95e.f8dab8"]]},{"id":"99c3af62.d9c41","type":"link in","z":"17245db2.768872","name":"","links":["ef17fc59.2a15c"],"x":1905,"y":460,"wires":[["ff5981b.a8ef88"]]},{"id":"90777467.065fc8","type":"function","z":"17245db2.768872","name":"SET","func":"msg.params = {\n    $a: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":700,"wires":[["f5c79cf4.5076c"]],"icon":"node-red/swap.svg"},{"id":"6f413445.c0c57c","type":"comment","z":"17245db2.768872","name":"es podria intentar no fer una query extra treballant amb stock actual i el min-stock, per no haver de comprovar tots els ítems","info":"","x":630,"y":1260,"wires":[]},{"id":"5fc7f63d.50d8b8","type":"function","z":"17245db2.768872","name":"","func":"var low_stock = false;\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(!msg.low.includes(msg.payload[i].id)) {\n        msg.topic = `INSERT INTO low_stock(item_id,name,location,min_stock,stock_stb,stock_str,stock_stp,stock_stm,ordered) VALUES(${msg.payload[i].id},'${msg.payload[i].name}','${msg.payload[i].location}',${msg.payload[i].min_stock},${msg.payload[i].stock_stb},${msg.payload[i].stock_str},${msg.payload[i].stock_stp},${msg.payload[i].stock_stm},0)`;\n        node.send(msg);\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1420,"wires":[["7a98bd1.392f744"]]},{"id":"c47370cb.9e01f","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT `item_id` FROM `low_stock`;","name":"INVENTORY","x":470,"y":1320,"wires":[["2c1e9783.79c728"]]},{"id":"2c1e9783.79c728","type":"function","z":"17245db2.768872","name":"","func":"// si ens interessés agafar més que l'id podríem canviar el zero\n// per una j i iterar pel nombre de propietats que volguéssim agafar\n\nvar array = []\nfor(var i = 0; i < msg.payload.length; ++i) {\n    array.push(Object.values(msg.payload[i])[0])\n}\nmsg.low = array\nmsg.topic = `SELECT id,name,location,min_stock,stock_stb,stock_stp,stock_str,stock_stm FROM items WHERE min_stock>=stock_stb AND stock_stb>=0`\n/*\nmsg.topic = `SELECT id,name,location,min_stock,stock_stb,stock_stp,stock_str,stock_stm FROM items`\nmsg.topic += `WHERE (min_stock>=stock_stb AND stock_stb>=0) OR `;\nmsg.topic += `(min_stock>=stock_str AND stock_str>=0) OR `;\nmsg.topic += `(min_stock>=stock_stp AND stock_stp>=0) OR `;\nmsg.topic += `(min_stock>=stock_stm AND stock_stm>=0)`;\n*/\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1320,"wires":[["90d5a54.ece2f58"]]},{"id":"90d5a54.ece2f58","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"","name":"INVENTORY","x":970,"y":1320,"wires":[["5fc7f63d.50d8b8"]]},{"id":"ec37d86b.ba5598","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `low_stock`;","name":"INVENTORY","x":710,"y":1500,"wires":[["b02754d.f4413a8","792f9a1a.4ad0d4"]]},{"id":"82de843.a760f78","type":"comment","z":"17245db2.768872","name":"COMPROVEM MINSTOCK VS ACTUAL_STOCK","info":"","x":400,"y":1200,"wires":[]},{"id":"7a98bd1.392f744","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"SELECT * FROM `low_stock` WHERE `ordered`=0;","name":"INVENTORY","x":470,"y":1420,"wires":[[]]},{"id":"85112eae.7f302","type":"ui_table","z":"17245db2.768872","group":"3b07d5d2.35cbfa","name":"ITEMTABLE NOORDERED","order":4,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stb","title":"STB NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_str","title":"STR NOW","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stp","title":"STP NOW","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stm","title":"STM NOW","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":760,"y":1420,"wires":[]},{"id":"ce3e4ef5.b3bf2","type":"delay","z":"17245db2.768872","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":1500,"wires":[["ec37d86b.ba5598"]]},{"id":"c32f741c.2d21e8","type":"telegram receiver","z":"17245db2.768872","d":true,"name":"EVENT LISTENER","bot":"35d1d63d.95944a","saveDataDir":"","filterCommands":false,"x":1350,"y":1240,"wires":[["5c728a41.42f554"],["5c728a41.42f554"]]},{"id":"5c728a41.42f554","type":"function","z":"17245db2.768872","d":true,"name":"","func":"var possibles_respostes = [\"Y\",\"YES\",\"yes\",\"ye\",\"y\",\"s\",\"si\",\"sí\",\"N\",\"n\",\"NO\",\"no\"];\nif(!possibles_respostes.includes(msg.payload.content)) {\n   return [{payload:{\n       content: \"PLEASE TRY AGAIN. BAD INPUT\",\n       type: \"message\",\n       chatId: \"5019177108\"\n   }},null] \n} else {\n    if(possibles_respostes.slice(0,8).includes(msg.payload.content)) {\n        \n    } else if(possibles_respostes.slice(8).includes(msg.payload.content)) {\n        \n    } else {\n        return [{payload:{\n            content: \"PLEASE TRY AGAIN. UNKNOWN ERROR\",\n            type: \"message\",\n            chatId: \"5019177108\"\n        }},null] \n    }\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":1180,"wires":[[],[]]},{"id":"4b55a00c.933f6","type":"ui_text","z":"17245db2.768872","group":"3b07d5d2.35cbfa","order":5,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK AND HAS BEEN ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1250,"y":1360,"wires":[]},{"id":"80d0db66.4ca248","type":"ui_text","z":"17245db2.768872","group":"3b07d5d2.35cbfa","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"LIST OF ALL ITEMS\"}} </font></strong>","layout":"row-center","className":"","x":250,"y":400,"wires":[]},{"id":"9bee4e33.42bb4","type":"ui_text","z":"17245db2.768872","group":"3b07d5d2.35cbfa","order":3,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK NO ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1250,"y":1440,"wires":[]},{"id":"46f6dd72.4f7dc4","type":"ui_table","z":"17245db2.768872","group":"3b07d5d2.35cbfa","name":"ITEMTABLE ORDERED","order":6,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stb","title":"STB NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_str","title":"STR NOW","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stp","title":"STP NOW","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stm","title":"STM NOW","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":990,"y":1600,"wires":[]},{"id":"3fe9d737.d1ef18","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"5c4c59cc.bc44f8","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":450,"y":1700,"wires":[["3120f2b0.208d4e"]]},{"id":"78056e32.c7d18","type":"ui_button","z":"17245db2.768872","name":"","group":"5c4c59cc.bc44f8","order":3,"width":"16","height":"1","passthru":false,"label":"EDIT ORDER STATUS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":500,"y":1820,"wires":[["92f276f0.4b00d8","7c61066e.ea0a48"]]},{"id":"e4933c4e.65873","type":"ui_text","z":"17245db2.768872","group":"31e8d87b.ae0988","order":1,"width":0,"height":0,"name":"ORDER STATUS","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"ORDER ITEM\"}} </font></strong>","layout":"row-center","className":"","x":1210,"y":1400,"wires":[]},{"id":"a8eda3b0.591aa","type":"function","z":"17245db2.768872","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1600,"wires":[["3fe9d737.d1ef18"]]},{"id":"c2a328d7.de4258","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `low_stock` SET `ordered`=1 WHERE `id`=$a;","name":"INVENTORY","x":810,"y":1800,"wires":[["ef48c167.f6c1d"]]},{"id":"76e1504d.e96b8","type":"link out","z":"17245db2.768872","name":"ordered","links":["76f84a6d.f5a524"],"x":1135,"y":1800,"wires":[]},{"id":"92f276f0.4b00d8","type":"function","z":"17245db2.768872","name":"","func":"var a = flow.get(\"order_item\");\n\nmsg.params = {\n    $a: a\n}\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"order_item\",undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1700,"wires":[["c2a328d7.de4258"]]},{"id":"7c61066e.ea0a48","type":"function","z":"17245db2.768872","name":"SET","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1760,"wires":[["3fe9d737.d1ef18"]],"icon":"node-red/swap.svg"},{"id":"9162f5dc.7aa818","type":"inject","z":"17245db2.768872","name":"1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":1920,"wires":[["90c438ba.92c768"]]},{"id":"90c438ba.92c768","type":"function","z":"17245db2.768872","name":"","func":"if(flow.get(\"order_item\") != undefined) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1920,"wires":[["78056e32.c7d18"]]},{"id":"3120f2b0.208d4e","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"order_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1700,"wires":[[]]},{"id":"c5446df4.5f362","type":"link in","z":"17245db2.768872","name":"","links":[],"x":255,"y":1500,"wires":[["c47370cb.9e01f","ce3e4ef5.b3bf2"]]},{"id":"ef48c167.f6c1d","type":"delay","z":"17245db2.768872","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":1800,"wires":[["76e1504d.e96b8"]]},{"id":"5d4cc5b9.b0c27c","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"UPDATE `low_stock` SET `name`=$a, `min_stock`=$e WHERE `item_id`=$f","name":"INVENTORY","x":2590,"y":320,"wires":[[]]},{"id":"b77d974.1ccc668","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"DELETE FROM `low_stock` WHERE `item_id`=$a","name":"INVENTORY","x":3870,"y":320,"wires":[[]]},{"id":"11001bb0.838e04","type":"link in","z":"17245db2.768872","name":"","links":[],"x":255,"y":2300,"wires":[["f9efc2c6.8eb75"]]},{"id":"8befa733.66b0d8","type":"comment","z":"17245db2.768872","name":"MIRAREM QUE NO PUGUEM TREURE ALGUN DELS VALORS DE LA LLISTA DE LOW_STOCK (aprofitant queries ja fetes)","info":"","x":600,"y":2220,"wires":[]},{"id":"e977322f.2b095","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `low_stock` WHERE `ordered`=0;","name":"INVENTORY","x":810,"y":1980,"wires":[["99a5f254.a3bc9"]]},{"id":"99a5f254.a3bc9","type":"split","z":"17245db2.768872","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1010,"y":1920,"wires":[["4a7c3a76.130844"]]},{"id":"4a7c3a76.130844","type":"function","z":"17245db2.768872","name":"SET","func":"var calcul = msg.payload.min_stock - msg.payload.stock_actual;\nmsg.payload = {\n    content: `${calcul} unit/s of item \"${msg.payload.name}\" from plant \"${msg.payload.location}\" are needed to cover minimum stock. PLEASE, PLACE AN ORDER AT YOUR EARLIEST CONVINIENCE.`,\n    type: \"message\",\n    chatId: \"5019177108\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1980,"wires":[["fea2225a.f864e"]],"icon":"node-red/swap.svg"},{"id":"fea2225a.f864e","type":"telegram sender","z":"17245db2.768872","name":"","bot":"35d1d63d.95944a","haserroroutput":false,"outputs":1,"x":1250,"y":2020,"wires":[[]]},{"id":"1ed4c692.39daf9","type":"inject","z":"17245db2.768872","name":"1D","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":1980,"wires":[["e977322f.2b095"]]},{"id":"b02754d.f4413a8","type":"function","z":"17245db2.768872","name":"SET msg.payload","func":"var array_order = [];\nvar array_noorder = [];\n\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].ordered === 0) {\n        array_noorder.push(msg.payload[i])\n    } else {\n        array_order.push(msg.payload[i])\n    }\n}\nreturn [{payload: array_noorder},{payload: array_order}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1500,"wires":[["a8eda3b0.591aa","85112eae.7f302"],["46f6dd72.4f7dc4"]],"icon":"node-red/swap.svg"},{"id":"792f9a1a.4ad0d4","type":"link out","z":"17245db2.768872","name":"low_stock","links":[],"x":755,"y":1600,"wires":[]},{"id":"f9efc2c6.8eb75","type":"function","z":"17245db2.768872","name":"","func":"for(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].min_stock < msg.payload[i].stock_actual) {\n        msg.topic = `DELETE FROM low_stock WHERE id=${msg.payload[i].id}`;\n        node.send(msg);\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":2300,"wires":[["dd46fcbf.71e3f"]]},{"id":"dd46fcbf.71e3f","type":"link out","z":"17245db2.768872","name":"low_stock delete if greater/equal","links":["232288a0.de9958"],"x":815,"y":2300,"wires":[]},{"id":"232288a0.de9958","type":"link in","z":"17245db2.768872","name":"","links":["dd46fcbf.71e3f"],"x":275,"y":1340,"wires":[["7a98bd1.392f744"]]},{"id":"762dbd45.4e5b34","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `low_stock` WHERE `ordered`=1 AND `location` LIKE '%STR%';","name":"INVENTORY","x":810,"y":2040,"wires":[["d91b134a.c7a4c"]]},{"id":"102159d8.881eb6","type":"inject","z":"17245db2.768872","name":"1W","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 1","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":2040,"wires":[["762dbd45.4e5b34"]]},{"id":"d91b134a.c7a4c","type":"split","z":"17245db2.768872","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1010,"y":2100,"wires":[["b1c296b4.9d28d8"]]},{"id":"b1c296b4.9d28d8","type":"function","z":"17245db2.768872","name":"SET","func":"var calcul = msg.payload.min_stock - msg.payload.stock_actual;\nmsg.payload = {\n    content: `${calcul} unit/s of item \"${msg.payload.name}\" from plant \"${msg.payload.location}\" are needed to cover minimum stock. ORDER IS PLACED PLEASE KEEP WAITING.`,\n    type: \"message\",\n    chatId: \"5019177108\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":2040,"wires":[["fea2225a.f864e"]],"icon":"node-red/swap.svg"},{"id":"ad32219d.6f1f2","type":"ui_text_input","z":"17245db2.768872","name":"","label":"reference","tooltip":"","group":"cc23078f.fd1928","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":1280,"y":720,"wires":[["f600c491.be8a48"]]},{"id":"1e41c977.5a0a97","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"create_machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":520,"wires":[[]]},{"id":"f600c491.be8a48","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"create_reference","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":720,"wires":[[]]},{"id":"ece8f95e.f8dab8","type":"ui_text_input","z":"17245db2.768872","name":"","label":"reference","tooltip":"","group":"5b84c717.7cfdf8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"topicType":"msg","x":2300,"y":740,"wires":[["91c16c22.61199"]]},{"id":"91c16c22.61199","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"edit_reference","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":740,"wires":[[]]},{"id":"ba9fd853.71c308","type":"inject","z":"17245db2.768872","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":520,"wires":[["ed2af026.faeb8","c14a88c0.cb98f8"]]},{"id":"8a97b86a.8666b8","type":"ui_dropdown","z":"17245db2.768872","name":"","label":"location","tooltip":"","place":"Select option","group":"d37d52d.e17c9b","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"STB","value":"STB","type":"str"},{"label":"STP","value":"STP","type":"str"},{"label":"STR","value":"STR","type":"str"},{"label":"STM","value":"STM","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1060,"wires":[["b5c41314.8dd7d"]]},{"id":"b5c41314.8dd7d","type":"change","z":"17245db2.768872","name":"SET","rules":[{"t":"set","p":"user_location","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1060,"wires":[[]]},{"id":"b31fd450.0a5e38","type":"sqlite","z":"17245db2.768872","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"UPDATE `low_stock` SET `stock_actual`=(`stock_actual`+$b) WHERE `item_id`=$a;","name":"INVENTORY","x":930,"y":880,"wires":[["b42dce68.da7db"]]},{"id":"2b63cb9e.218ad4","type":"function","z":"17245db2.768872","name":"","func":"var b = flow.get(\"user_stock\");\nvar a = flow.get(\"user_item\");\nvar c = flow.get(\"user_location\");\n\nmsg.params = {\n    $a: a,\n    $b: b,\n    $c: c\n}\nmsg.topic = \"UPDATE `items` SET `stock_\"+c.toLowerCase()+\"`=(`stock_\"+c.toLowerCase()+\"`+\"+b+\") WHERE `id`=\"+a+\";\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":820,"wires":[["cd5045bd.be2638"]]},{"id":"320c5756.dd78c8","type":"function","z":"17245db2.768872","name":"","func":"var b = flow.get(\"user_stock\");\nvar a = flow.get(\"user_item\");\nvar c = flow.get(\"user_location\");\n\nmsg.params = {\n    $a: a,\n    $b: b,\n    $c: c\n}\n\nmsg.topic = \"UPDATE `low_stock` SET `stock_\"+c.toLowerCase()+\"`=(`stock_\"+c.toLowerCase()+\"`+\"+b+\") WHERE `id`=\"+a+\";\"\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"user_stock\",undefined);\nflow.set(\"user_item\",undefined);\nflow.set(\"user_location\",undefined);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":820,"wires":[["b31fd450.0a5e38"]]},{"id":"b5f368df.9aefd8","type":"debug","z":"17245db2.768872","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"options","targetType":"msg","statusVal":"payload","statusType":"auto","x":760,"y":560,"wires":[]},{"id":"c14a88c0.cb98f8","type":"debug","z":"17245db2.768872","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":360,"wires":[]},{"id":"cc23078f.fd1928","type":"ui_group","name":"ITEM CREATE","tab":"fcbe2ee8.5bc8e","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"5b84c717.7cfdf8","type":"ui_group","name":"ITEM EDIT","tab":"fcbe2ee8.5bc8e","order":4,"disp":false,"width":"6","collapse":false,"className":""},{"id":"3dc3a5ad.d45f1a","type":"ui_group","name":"ITEM DELETE","tab":"fcbe2ee8.5bc8e","order":5,"disp":false,"width":"6","collapse":false,"className":""},{"id":"f017de5e.2fd5b","type":"sqlitedb","db":"/home/pi/inventory.db","mode":"RWC"},{"id":"ecb41ae5.77ba98","type":"ui_group","name":"BOTONES","tab":"9288befd.7f8e4","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"3b07d5d2.35cbfa","type":"ui_group","name":"ITEM TABLE","tab":"1bb2a854.273838","order":3,"disp":false,"width":"16","collapse":false,"className":""},{"id":"d37d52d.e17c9b","type":"ui_group","name":"EDIT STOCK","tab":"1bb2a854.273838","order":2,"disp":false,"width":"16","collapse":false,"className":""},{"id":"55dc06a5.0069e8","type":"ui_group","name":"ITEM TABLE","tab":"fcbe2ee8.5bc8e","order":2,"disp":false,"width":"6","collapse":false,"className":""},{"id":"5b1dd9dd.8b6b28","type":"ui_group","name":"BOTONES","tab":"1bb2a854.273838","order":1,"disp":false,"width":"16","collapse":false,"className":""},{"id":"73689187.10f7a","type":"ui_group","name":"BOTONES","tab":"fcbe2ee8.5bc8e","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"35d1d63d.95944a","type":"telegram bot","botname":"mariosandhar_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5c4c59cc.bc44f8","type":"ui_group","name":"EDIT ORDER STATUS","tab":"1bb2a854.273838","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"31e8d87b.ae0988","type":"ui_group","d":true,"name":"Group 4","tab":"b5596b8f.e8a428","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"fcbe2ee8.5bc8e","type":"ui_tab","name":"INVENTARIO_DEV","icon":"dashboard","order":35,"disabled":false,"hidden":false},{"id":"9288befd.7f8e4","type":"ui_tab","name":"INVENTARIO","icon":"dashboard","order":33,"disabled":false,"hidden":false},{"id":"1bb2a854.273838","type":"ui_tab","name":"INVENTARIO_USER","icon":"dashboard","order":34,"disabled":false,"hidden":false},{"id":"b5596b8f.e8a428","type":"ui_tab","name":"INVENTARIO_STR","icon":"dashboard","order":36,"disabled":false,"hidden":false}]