resources/old-flows/invstr.json
[{"id":"a9ff7244.7e88c","type":"tab","label":"INVENTARIO_STP","disabled":true,"info":""},{"id":"8b9b5b93.a6da78","type":"link out","z":"a9ff7244.7e88c","name":"item","links":[],"x":815,"y":200,"wires":[]},{"id":"298299f2.cba816","type":"function","z":"a9ff7244.7e88c","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":200,"wires":[["8b9b5b93.a6da78"]]},{"id":"d5cfcd4d.86d55","type":"ui_table","z":"a9ff7244.7e88c","group":"eb462800.3d9528","name":"ITEMTABLE TOTAL","order":2,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"LOC","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"maq","title":"MAQ","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phase","title":"PHASE","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN-STOCK","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stp","title":"STOCK-NOW","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1000,"y":180,"wires":[]},{"id":"71e5bf1b.df45a","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `items`WHERE `location` LIKE '%STP%' ;","name":"INVENTORY","x":370,"y":140,"wires":[["d5cfcd4d.86d55","298299f2.cba816","3bc4ef5f.e907a","b38fb0ba.4fec6"]]},{"id":"42956e61.194e4","type":"link in","z":"a9ff7244.7e88c","name":"","links":[],"x":115,"y":140,"wires":[["71e5bf1b.df45a"]]},{"id":"8918c57d.408c68","type":"comment","z":"a9ff7244.7e88c","name":"LIST ELEMENTS IN EDITOR","info":"","x":465,"y":260,"wires":[]},{"id":"440acb1f.ca00f4","type":"comment","z":"a9ff7244.7e88c","name":"TABLE SELECT","info":"","x":385,"y":80,"wires":[]},{"id":"c3bfd81d.97a1e8","type":"link in","z":"a9ff7244.7e88c","name":"","links":[],"x":155,"y":660,"wires":[["f0ff24ee.a3e8d8"]]},{"id":"f0ff24ee.a3e8d8","type":"ui_dropdown","z":"a9ff7244.7e88c","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"930903de.bb3f","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":365,"y":660,"wires":[["ba8da8a.eaf8758"]]},{"id":"4a201ef3.77d71","type":"ui_button","z":"a9ff7244.7e88c","name":"","group":"930903de.bb3f","order":5,"width":"16","height":"1","passthru":false,"label":"EDIT STOCK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":405,"y":500,"wires":[["9ca0e222.e50db","8d935707.02dfd8"]]},{"id":"573b380.54347c8","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `items` SET `stock_actual`=(`stock_actual`+$b) WHERE `id`=$a;","name":"INVENTORY","x":645,"y":560,"wires":[["d37fda0b.b354d8"]]},{"id":"ba8da8a.eaf8758","type":"change","z":"a9ff7244.7e88c","name":"SET","rules":[{"t":"set","p":"user_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":365,"y":720,"wires":[[]]},{"id":"8d935707.02dfd8","type":"function","z":"a9ff7244.7e88c","name":"","func":"var b = flow.get(\"user_stock\");\nvar a = flow.get(\"user_item\");\n\nmsg.params = {\n    $a: a,\n    $b: b\n}\n\n// msg.topic = \"UPDATE `items` SET `stock_actual`=(SELECT `stock_actual` FROM `items` WHERE `id`=\"+a+\")+\"+b+\" WHERE `id`=\"+a+\"\";\nmsg.topic = \"UPDATE `items` SET `stock_stp`=(`stock_stp`+\"+b+\") WHERE `id`=\"+a+\";\"\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"user_stock\",undefined);\nflow.set(\"user_item\",undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":625,"y":500,"wires":[["573b380.54347c8","612d636.1e3809c"]]},{"id":"bc1211c.ea1e2f","type":"function","z":"a9ff7244.7e88c","name":"","func":"var a = flow.get(\"user_item\") != undefined;\nvar b = flow.get(\"user_stock\") != undefined;\nvar c = flow.get(\"user_stock\") != 0;\nif(a && b && c) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":185,"y":500,"wires":[["4a201ef3.77d71"]]},{"id":"c7fc4a83.950318","type":"inject","z":"a9ff7244.7e88c","name":"1'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":365,"y":420,"wires":[["bc1211c.ea1e2f"]]},{"id":"4a1c390c.f84d38","type":"ui_slider","z":"a9ff7244.7e88c","name":"STOCK USED","label":"STOCK VARIATION","tooltip":"","group":"930903de.bb3f","order":2,"width":"14","height":"1","passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":"-10","max":10,"step":1,"className":"","x":645,"y":660,"wires":[["d539a535.f83bd8","1f3ffbf.c0dbb04"]]},{"id":"9ca0e222.e50db","type":"function","z":"a9ff7244.7e88c","name":"","func":"return [{payload: null},{payload: 0}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":580,"wires":[["f0ff24ee.a3e8d8"],["4a1c390c.f84d38","1f3ffbf.c0dbb04"]]},{"id":"d37fda0b.b354d8","type":"link out","z":"a9ff7244.7e88c","name":"user","links":["bc7560d7.53ee2"],"x":855,"y":560,"wires":[]},{"id":"d539a535.f83bd8","type":"change","z":"a9ff7244.7e88c","name":"SET","rules":[{"t":"set","p":"user_stock","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":585,"y":720,"wires":[[]]},{"id":"bab521c.ceb10e","type":"ui_text","z":"a9ff7244.7e88c","group":"930903de.bb3f","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"EDIT STOCK ACTUAL\"}} </font></strong>","layout":"row-center","className":"","x":585,"y":420,"wires":[]},{"id":"1f3ffbf.c0dbb04","type":"ui_text","z":"a9ff7244.7e88c","group":"930903de.bb3f","order":3,"width":"2","height":"1","name":"","label":"","format":"<strong><font color= #00CCCC> {{msg.payload}} </font></strong>","layout":"row-center","className":"","x":865,"y":620,"wires":[]},{"id":"eb1c911b.3425c","type":"ui_ui_control","z":"a9ff7244.7e88c","name":"","events":"all","x":605,"y":340,"wires":[[]]},{"id":"76e03df5.c14c24","type":"comment","z":"a9ff7244.7e88c","name":"es podria intentar no fer una query extra treballant amb stock actual i el min-stock, per no haver de comprovar tots els ítems","info":"","x":905,"y":940,"wires":[]},{"id":"762091d8.42c72","type":"function","z":"a9ff7244.7e88c","name":"","func":"var low_stock = false;\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(!msg.low.includes(msg.payload[i].id)) {\n        msg.topic = `INSERT INTO low_stock(item_id,name,location,min_stock,stock_stb,stock_str,stock_stp,stock_stm,ordered) VALUES(${msg.payload[i].id},'${msg.payload[i].name}','${msg.payload[i].location}',${msg.payload[i].min_stock},${msg.payload[i].stock_stb},${msg.payload[i].stock_str},${msg.payload[i].stock_stp},${msg.payload[i].stock_stm},0)`;\n        node.send(msg);\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":185,"y":1100,"wires":[["b42affb9.1a0b3"]]},{"id":"2ca58c59.9d9a74","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT `item_id` FROM `low_stock` WHERE `location` LIKE '%STP%';","name":"INVENTORY","x":405,"y":1000,"wires":[["cafda321.262a2"]]},{"id":"cafda321.262a2","type":"function","z":"a9ff7244.7e88c","name":"","func":"// si ens interessés agafar més que l'id podríem canviar el zero\n// per una j i iterar pel nombre de propietats que volguéssim agafar\n\nvar array = []\nfor(var i = 0; i < msg.payload.length; ++i) {\n    array.push(Object.values(msg.payload[i])[0])\n}\nmsg.low = array\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":625,"y":1000,"wires":[["c296c249.daa59"]]},{"id":"c296c249.daa59","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT `id`,`name`,`min_stock`,`stock_stb`,`stock_str`,`stock_stp`,`stock_stm` FROM `items` WHERE `min_stock`>=`stock_stp`;","name":"INVENTORY","x":905,"y":1000,"wires":[["762091d8.42c72"]]},{"id":"f12e6bf2.98eec8","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `low_stock` WHERE `location` LIKE '%STP%';","name":"INVENTORY","x":645,"y":1180,"wires":[["ca78d906.b51528","7f77d44d.0eac0c"]]},{"id":"9963bb56.1cb258","type":"comment","z":"a9ff7244.7e88c","name":"COMPROVEM MINSTOCK VS ACTUAL_STOCK","info":"","x":445,"y":880,"wires":[]},{"id":"b42affb9.1a0b3","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"SELECT * FROM `low_stock` WHERE `ordered`=0;","name":"INVENTORY","x":405,"y":1100,"wires":[[]]},{"id":"7728c4b5.4c04dc","type":"ui_table","z":"a9ff7244.7e88c","group":"eb462800.3d9528","name":"ITEMTABLE NOORDERED","order":4,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stp","title":"NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":745,"y":1100,"wires":[]},{"id":"3ad72bf4.700b94","type":"delay","z":"a9ff7244.7e88c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":385,"y":1180,"wires":[["f12e6bf2.98eec8"]]},{"id":"376ee6f5.eaef9a","type":"telegram receiver","z":"a9ff7244.7e88c","d":true,"name":"EVENT LISTENER","bot":"35d1d63d.95944a","saveDataDir":"","filterCommands":false,"x":1305,"y":920,"wires":[["6fc07cc5.83ada4"],["6fc07cc5.83ada4"]]},{"id":"6fc07cc5.83ada4","type":"function","z":"a9ff7244.7e88c","d":true,"name":"","func":"var possibles_respostes = [\"Y\",\"YES\",\"yes\",\"ye\",\"y\",\"s\",\"si\",\"sí\",\"N\",\"n\",\"NO\",\"no\"];\nif(!possibles_respostes.includes(msg.payload.content)) {\n   return [{payload:{\n       content: \"PLEASE TRY AGAIN. BAD INPUT\",\n       type: \"message\",\n       chatId: \"5019177108\"\n   }},null] \n} else {\n    if(possibles_respostes.slice(0,8).includes(msg.payload.content)) {\n        \n    } else if(possibles_respostes.slice(8).includes(msg.payload.content)) {\n        \n    } else {\n        return [{payload:{\n            content: \"PLEASE TRY AGAIN. UNKNOWN ERROR\",\n            type: \"message\",\n            chatId: \"5019177108\"\n        }},null] \n    }\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1245,"y":860,"wires":[[],[]]},{"id":"2d313eec.11dfe2","type":"ui_text","z":"a9ff7244.7e88c","group":"eb462800.3d9528","order":5,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK AND HAS BEEN ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1165,"y":1040,"wires":[]},{"id":"46e9ec08.ea34b4","type":"ui_text","z":"a9ff7244.7e88c","group":"eb462800.3d9528","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"LIST OF ALL ITEMS\"}} </font></strong>","layout":"row-center","className":"","x":165,"y":80,"wires":[]},{"id":"1de59aed.5d1645","type":"ui_text","z":"a9ff7244.7e88c","group":"eb462800.3d9528","order":3,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK NO ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1165,"y":1120,"wires":[]},{"id":"b7fc83da.29b4f","type":"ui_table","z":"a9ff7244.7e88c","group":"eb462800.3d9528","name":"ITEMTABLE ORDERED","order":6,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stp","title":"NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":965,"y":1280,"wires":[]},{"id":"a28bbc11.83544","type":"ui_dropdown","z":"a9ff7244.7e88c","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"ab942ba8.0ae498","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":365,"y":1380,"wires":[["e1bea5a7.d64b68"]]},{"id":"5a95bca0.6a7dc4","type":"ui_button","z":"a9ff7244.7e88c","name":"","group":"ab942ba8.0ae498","order":3,"width":"16","height":"1","passthru":false,"label":"EDIT ORDER STATUS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":465,"y":1500,"wires":[["fc3bbfb0.6e8e9","8be3da96.63d568"]]},{"id":"75ca571c.328cb8","type":"ui_text","z":"a9ff7244.7e88c","group":"5de87a9a.808364","order":1,"width":0,"height":0,"name":"ORDER STATUS","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"ORDER ITEM\"}} </font></strong>","layout":"row-center","className":"","x":1165,"y":1080,"wires":[]},{"id":"bdd99925.4ef088","type":"function","z":"a9ff7244.7e88c","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":385,"y":1280,"wires":[["a28bbc11.83544"]]},{"id":"192111a3.4c565e","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `low_stock` SET `ordered`=1 WHERE `id`=$a;","name":"INVENTORY","x":745,"y":1480,"wires":[["a0f59dfa.dbf6e"]]},{"id":"3d2fd934.70d7b6","type":"link out","z":"a9ff7244.7e88c","name":"ordered","links":["bc7560d7.53ee2","76f84a6d.f5a524"],"x":1015,"y":1480,"wires":[]},{"id":"fc3bbfb0.6e8e9","type":"function","z":"a9ff7244.7e88c","name":"","func":"var a = flow.get(\"order_item\");\n\nmsg.params = {\n    $a: a\n}\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"order_item\",undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":725,"y":1380,"wires":[["192111a3.4c565e"]]},{"id":"8be3da96.63d568","type":"function","z":"a9ff7244.7e88c","name":"SET","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":1440,"wires":[["a28bbc11.83544"]],"icon":"node-red/swap.svg"},{"id":"42126e8.eecee9","type":"inject","z":"a9ff7244.7e88c","name":"1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":165,"y":1600,"wires":[["36439f73.cc062"]]},{"id":"36439f73.cc062","type":"function","z":"a9ff7244.7e88c","name":"","func":"if(flow.get(\"order_item\") != undefined) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":385,"y":1600,"wires":[["5a95bca0.6a7dc4"]]},{"id":"e1bea5a7.d64b68","type":"change","z":"a9ff7244.7e88c","name":"SET","rules":[{"t":"set","p":"order_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":1380,"wires":[[]]},{"id":"bc7560d7.53ee2","type":"link in","z":"a9ff7244.7e88c","name":"","links":["3d2fd934.70d7b6","7f77d44d.0eac0c","d37fda0b.b354d8"],"x":155,"y":1180,"wires":[["2ca58c59.9d9a74","3ad72bf4.700b94"]]},{"id":"a0f59dfa.dbf6e","type":"delay","z":"a9ff7244.7e88c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":925,"y":1480,"wires":[["3d2fd934.70d7b6"]]},{"id":"612d636.1e3809c","type":"sqlite","z":"a9ff7244.7e88c","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `low_stock` SET `stock_actual`=(`stock_actual`+$b) WHERE `item_id`=$a;","name":"INVENTORY","x":865,"y":500,"wires":[[]]},{"id":"a90cfe20.2ec04","type":"link in","z":"a9ff7244.7e88c","name":"","links":["7f77d44d.0eac0c"],"x":135,"y":1980,"wires":[["316a4f09.98c76"]]},{"id":"918e807d.90716","type":"comment","z":"a9ff7244.7e88c","name":"MIRAREM QUE NO PUGUEM TREURE ALGUN DELS VALORS DE LA LLISTA DE LOW_STOCK (aprofitant queries ja fetes)","info":"","x":885,"y":1900,"wires":[]},{"id":"ca78d906.b51528","type":"function","z":"a9ff7244.7e88c","name":"SET msg.payload","func":"var array_order = [];\nvar array_noorder = [];\n\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].ordered === 0) {\n        array_noorder.push(msg.payload[i])\n    } else {\n        array_order.push(msg.payload[i])\n    }\n}\nreturn [{payload: array_noorder},{payload: array_order}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":925,"y":1180,"wires":[["bdd99925.4ef088","7728c4b5.4c04dc"],["b7fc83da.29b4f"]],"icon":"node-red/swap.svg"},{"id":"7f77d44d.0eac0c","type":"link out","z":"a9ff7244.7e88c","name":"low_stock","links":["a90cfe20.2ec04","bc7560d7.53ee2"],"x":635,"y":1280,"wires":[]},{"id":"316a4f09.98c76","type":"function","z":"a9ff7244.7e88c","name":"","func":"for(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].min_stock < msg.payload[i].stock_actual) {\n        msg.topic = `DELETE FROM low_stock WHERE id=${msg.payload[i].id}`;\n        node.send(msg);\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1980,"wires":[["d2906d39.49128"]]},{"id":"d2906d39.49128","type":"link out","z":"a9ff7244.7e88c","name":"low_stock delete if greater/equal","links":["150029ee.dff3f6"],"x":695,"y":1980,"wires":[]},{"id":"150029ee.dff3f6","type":"link in","z":"a9ff7244.7e88c","name":"","links":["d2906d39.49128"],"x":155,"y":1020,"wires":[["b42affb9.1a0b3"]]},{"id":"7b132295.9b1bdc","type":"ui_button","z":"a9ff7244.7e88c","name":"","group":"c2c338f.8fbb4c8","order":1,"width":"8","height":"1","passthru":false,"label":"HOME","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"dashboard","payload":"{\"tab\":\"0\"}","payloadType":"json","topic":"","topicType":"str","x":390,"y":340,"wires":[["eb1c911b.3425c"]]},{"id":"7f6b9f32.2189b","type":"ui_text","z":"a9ff7244.7e88c","group":"c2c338f.8fbb4c8","order":2,"width":"8","height":"1","name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"POLSKA\"}} </font></strong>","layout":"row-center","className":"","x":170,"y":40,"wires":[]},{"id":"3bc4ef5f.e907a","type":"debug","z":"a9ff7244.7e88c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":80,"wires":[]},{"id":"c0839077.997","type":"inject","z":"a9ff7244.7e88c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["71e5bf1b.df45a"]]},{"id":"b38fb0ba.4fec6","type":"ui_table","z":"a9ff7244.7e88c","group":"eb462800.3d9528","name":"LIST OF ALL ITEMS","order":2,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"LOC","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"maq","title":"MAQ","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"reference","title":"REFERENCE","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phase","title":"PHASE","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN-STOCK","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_stp","title":"STOCK-STP","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1000,"y":140,"wires":[]},{"id":"eb462800.3d9528","type":"ui_group","name":"Group 3","tab":"598c4da3.0b6444","order":3,"disp":false,"width":"16","collapse":false,"className":""},{"id":"f017de5e.2fd5b","type":"sqlitedb","db":"/home/pi/inventory.db","mode":"RWC"},{"id":"930903de.bb3f","type":"ui_group","name":"Group 2","tab":"598c4da3.0b6444","order":2,"disp":false,"width":"16","collapse":false,"className":""},{"id":"35d1d63d.95944a","type":"telegram bot","botname":"mariosandhar_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ab942ba8.0ae498","type":"ui_group","d":true,"name":"Group 4","tab":"598c4da3.0b6444","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"5de87a9a.808364","type":"ui_group","name":"Group 4","tab":"2b1be1be.a2a37e","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"c2c338f.8fbb4c8","type":"ui_group","name":"Group 1","tab":"598c4da3.0b6444","order":1,"disp":false,"width":"16","collapse":false,"className":""},{"id":"598c4da3.0b6444","type":"ui_tab","name":"INVENTARIO_STP","icon":"dashboard","order":38,"disabled":false,"hidden":false},{"id":"2b1be1be.a2a37e","type":"ui_tab","name":"INVENTARIO_STM","icon":"dashboard","order":37,"disabled":false,"hidden":false}]