resources/old-flows/invstp.json
[{"id":"c2a1f43c.ceb388","type":"tab","label":"INVENTARIO_STR","disabled":true,"info":""},{"id":"9868f09a.c4cb3","type":"link out","z":"c2a1f43c.ceb388","name":"item","links":["a8a65fa3.a9c3","1c6eed0e.e48003"],"x":975,"y":400,"wires":[]},{"id":"e8033c1d.4db8","type":"function","z":"c2a1f43c.ceb388","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":400,"wires":[["9868f09a.c4cb3"]]},{"id":"6fd23675.e56de8","type":"ui_table","z":"c2a1f43c.ceb388","group":"e6361d02.78bd9","name":"ITEMTABLE TOTAL","order":2,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"location","title":"LOC","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"maq","title":"MAQ","width":"10%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"phase","title":"PHASE","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN-STOCK","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_str","title":"STOCK-NOW","width":"15%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":780,"y":340,"wires":[]},{"id":"91a5942d.5815c8","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `items` WHERE `location` LIKE '%STR%';","name":"INVENTORY","x":490,"y":340,"wires":[["6fd23675.e56de8","e8033c1d.4db8"]]},{"id":"1c6eed0e.e48003","type":"link in","z":"c2a1f43c.ceb388","name":"","links":["4cf35f5b.b7911","9868f09a.c4cb3"],"x":295,"y":340,"wires":[["91a5942d.5815c8"]]},{"id":"a19d3d6e.cf947","type":"comment","z":"c2a1f43c.ceb388","name":"LIST ELEMENTS IN EDITOR","info":"","x":540,"y":460,"wires":[]},{"id":"d8926aca.eb3688","type":"comment","z":"c2a1f43c.ceb388","name":"TABLE SELECT","info":"","x":500,"y":280,"wires":[]},{"id":"a8a65fa3.a9c3","type":"link in","z":"c2a1f43c.ceb388","name":"","links":["9868f09a.c4cb3"],"x":335,"y":860,"wires":[["77bcc00f.99dde"]]},{"id":"77bcc00f.99dde","type":"ui_dropdown","z":"c2a1f43c.ceb388","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"eab13a32.b8f2a8","order":4,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":510,"y":860,"wires":[["85bd1769.20ca98"]]},{"id":"ab755ee9.33e84","type":"ui_button","z":"c2a1f43c.ceb388","name":"","group":"eab13a32.b8f2a8","order":5,"width":"16","height":"1","passthru":false,"label":"EDIT STOCK","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":520,"y":700,"wires":[["7c2178af.5fdc68","73b21cd9.b47af4"]]},{"id":"9a9b128d.0b293","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `items` SET `stock_actual`=(`stock_actual`+$b) WHERE `id`=$a;","name":"INVENTORY","x":770,"y":760,"wires":[["4cf35f5b.b7911"]]},{"id":"85bd1769.20ca98","type":"change","z":"c2a1f43c.ceb388","name":"SET","rules":[{"t":"set","p":"user_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":920,"wires":[[]]},{"id":"73b21cd9.b47af4","type":"function","z":"c2a1f43c.ceb388","name":"","func":"var b = flow.get(\"user_stock\");\nvar a = flow.get(\"user_item\");\n\nmsg.params = {\n    $a: a,\n    $b: b\n}\n\n// msg.topic = \"UPDATE `items` SET `stock_actual`=(SELECT `stock_actual` FROM `items` WHERE `id`=\"+a+\")+\"+b+\" WHERE `id`=\"+a+\"\";\nmsg.topic = \"UPDATE `items` SET `stock_str`=(`stock_str`+\"+b+\") WHERE `id`=\"+a+\";\"\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"user_stock\",undefined);\nflow.set(\"user_item\",undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":700,"wires":[["9a9b128d.0b293","b6143f8f.36752"]]},{"id":"9cb70cd5.d441e","type":"function","z":"c2a1f43c.ceb388","name":"","func":"var a = flow.get(\"user_item\") != undefined;\nvar b = flow.get(\"user_stock\") != undefined;\nvar c = flow.get(\"user_stock\") != 0;\nif(a && b && c) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":700,"wires":[["ab755ee9.33e84"]]},{"id":"b61c86b2.7da5a8","type":"inject","z":"c2a1f43c.ceb388","name":"1'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":620,"wires":[["9cb70cd5.d441e"]]},{"id":"9d501570.59c4c8","type":"ui_slider","z":"c2a1f43c.ceb388","name":"STOCK USED","label":"STOCK VARIATION","tooltip":"","group":"eab13a32.b8f2a8","order":2,"width":"14","height":"1","passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":"-10","max":10,"step":1,"className":"","x":760,"y":860,"wires":[["a9b144ff.574648","db1c1108.bcefc"]]},{"id":"7c2178af.5fdc68","type":"function","z":"c2a1f43c.ceb388","name":"","func":"return [{payload: null},{payload: 0}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":780,"wires":[["77bcc00f.99dde"],["9d501570.59c4c8","db1c1108.bcefc"]]},{"id":"4cf35f5b.b7911","type":"link out","z":"c2a1f43c.ceb388","name":"user","links":["1c6eed0e.e48003","3ecc57b7.5ba128"],"x":1035,"y":760,"wires":[]},{"id":"a9b144ff.574648","type":"change","z":"c2a1f43c.ceb388","name":"SET","rules":[{"t":"set","p":"user_stock","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":920,"wires":[[]]},{"id":"f6e17f8b.2d71e","type":"ui_text","z":"c2a1f43c.ceb388","group":"eab13a32.b8f2a8","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"EDIT STOCK ACTUAL\"}} </font></strong>","layout":"row-center","className":"","x":730,"y":620,"wires":[]},{"id":"db1c1108.bcefc","type":"ui_text","z":"c2a1f43c.ceb388","group":"eab13a32.b8f2a8","order":3,"width":"2","height":"1","name":"","label":"","format":"<strong><font color= #00CCCC> {{msg.payload}} </font></strong>","layout":"row-center","className":"","x":1010,"y":820,"wires":[]},{"id":"4d1ec4c2.7a5a4c","type":"ui_button","z":"c2a1f43c.ceb388","name":"","group":"8da86d5c.844a1","order":1,"width":"8","height":"1","passthru":false,"label":"HOME","tooltip":"","color":"white","bgcolor":"black","className":"","icon":"dashboard","payload":"{\"tab\":\"0\"}","payloadType":"json","topic":"","topicType":"str","x":490,"y":540,"wires":[["f74cb7ad.348818"]]},{"id":"f74cb7ad.348818","type":"ui_ui_control","z":"c2a1f43c.ceb388","name":"","events":"all","x":740,"y":540,"wires":[[]]},{"id":"a88c8daf.74de7","type":"comment","z":"c2a1f43c.ceb388","name":"es podria intentar no fer una query extra treballant amb stock actual i el min-stock, per no haver de comprovar tots els ítems","info":"","x":690,"y":1140,"wires":[]},{"id":"6f7ebaa0.09aff4","type":"function","z":"c2a1f43c.ceb388","name":"","func":"var low_stock = false;\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(!msg.low.includes(msg.payload[i].id)) {\n        msg.topic = `INSERT INTO low_stock(item_id,name,location,min_stock,stock_stb,stock_str,stock_stp,stock_stm,ordered) VALUES(${msg.payload[i].id},'${msg.payload[i].name}','${msg.payload[i].location}',${msg.payload[i].min_stock},${msg.payload[i].stock_stb},${msg.payload[i].stock_str},${msg.payload[i].stock_stp},${msg.payload[i].stock_stm},0)`;\n        node.send(msg);\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1300,"wires":[["f90ddd78.e92a8"]]},{"id":"38491600.3e393a","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT `item_id` FROM `low_stock` WHERE `location` LIKE '%STR%';","name":"INVENTORY","x":530,"y":1200,"wires":[["f143cd4c.f74fa"]]},{"id":"f143cd4c.f74fa","type":"function","z":"c2a1f43c.ceb388","name":"","func":"// si ens interessés agafar més que l'id podríem canviar el zero\n// per una j i iterar pel nombre de propietats que volguéssim agafar\n\nvar array = []\nfor(var i = 0; i < msg.payload.length; ++i) {\n    array.push(Object.values(msg.payload[i])[0])\n}\nmsg.low = array\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1200,"wires":[["f88f94.e36ea07"]]},{"id":"f88f94.e36ea07","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT `id`,`name`,`min_stock`,`stock_stb`,`stock_str`,`stock_stp`,`stock_stm` FROM `items` WHERE `min_stock`>=`stock_str`;","name":"INVENTORY","x":1030,"y":1200,"wires":[["6f7ebaa0.09aff4"]]},{"id":"4c09917c.194d6","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"fixed","sql":"SELECT * FROM `low_stock` WHERE `location` LIKE '%STR%';","name":"INVENTORY","x":770,"y":1380,"wires":[["5f1a9b05.5df254","e6c4085e.153a38"]]},{"id":"975728b.ff1e9d8","type":"comment","z":"c2a1f43c.ceb388","name":"COMPROVEM MINSTOCK VS ACTUAL_STOCK","info":"","x":460,"y":1080,"wires":[]},{"id":"f90ddd78.e92a8","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"msg.topic","sql":"SELECT * FROM `low_stock` WHERE `ordered`=0;","name":"INVENTORY","x":530,"y":1300,"wires":[[]]},{"id":"f9014612.fa2278","type":"ui_table","z":"c2a1f43c.ceb388","group":"e6361d02.78bd9","name":"ITEMTABLE NOORDERED","order":4,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_str","title":"NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":820,"y":1300,"wires":[]},{"id":"60702ac1.98f2f4","type":"delay","z":"c2a1f43c.ceb388","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1380,"wires":[["4c09917c.194d6"]]},{"id":"641999fb.6d5978","type":"telegram receiver","z":"c2a1f43c.ceb388","d":true,"name":"EVENT LISTENER","bot":"35d1d63d.95944a","saveDataDir":"","filterCommands":false,"x":1410,"y":1120,"wires":[["e3b90fcf.bdc4a"],["e3b90fcf.bdc4a"]]},{"id":"e3b90fcf.bdc4a","type":"function","z":"c2a1f43c.ceb388","d":true,"name":"","func":"var possibles_respostes = [\"Y\",\"YES\",\"yes\",\"ye\",\"y\",\"s\",\"si\",\"sí\",\"N\",\"n\",\"NO\",\"no\"];\nif(!possibles_respostes.includes(msg.payload.content)) {\n   return [{payload:{\n       content: \"PLEASE TRY AGAIN. BAD INPUT\",\n       type: \"message\",\n       chatId: \"5019177108\"\n   }},null] \n} else {\n    if(possibles_respostes.slice(0,8).includes(msg.payload.content)) {\n        \n    } else if(possibles_respostes.slice(8).includes(msg.payload.content)) {\n        \n    } else {\n        return [{payload:{\n            content: \"PLEASE TRY AGAIN. UNKNOWN ERROR\",\n            type: \"message\",\n            chatId: \"5019177108\"\n        }},null] \n    }\n}\n\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1060,"wires":[[],[]]},{"id":"83348409.a56f18","type":"ui_text","z":"c2a1f43c.ceb388","group":"e6361d02.78bd9","order":5,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK AND HAS BEEN ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1310,"y":1240,"wires":[]},{"id":"6533ac0c.16fba4","type":"ui_text","z":"c2a1f43c.ceb388","group":"e6361d02.78bd9","order":1,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"LIST OF ALL ITEMS\"}} </font></strong>","layout":"row-center","className":"","x":470,"y":200,"wires":[]},{"id":"83cbaecc.161ff","type":"ui_text","z":"c2a1f43c.ceb388","group":"e6361d02.78bd9","order":3,"width":0,"height":0,"name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"NEED RESTOCK NO ORDERED\"}} </font></strong>","layout":"row-center","className":"","x":1310,"y":1320,"wires":[]},{"id":"7dce8136.f012d","type":"ui_table","z":"c2a1f43c.ceb388","group":"e6361d02.78bd9","name":"ITEMTABLE ORDERED","order":6,"width":"16","height":"3","columns":[{"field":"name","title":"NAME","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"min_stock","title":"MIN","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"stock_str","title":"NOW","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1050,"y":1480,"wires":[]},{"id":"24383db5.56a262","type":"ui_dropdown","z":"c2a1f43c.ceb388","name":"","label":"ITEM","tooltip":"","place":"Select option","group":"31e8d87b.ae0988","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":510,"y":1580,"wires":[["659d91a7.c8be9"]]},{"id":"4fb3962d.3a5918","type":"ui_button","z":"c2a1f43c.ceb388","name":"","group":"31e8d87b.ae0988","order":3,"width":"16","height":"1","passthru":false,"label":"EDIT ORDER STATUS","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":1700,"wires":[["c950ae2e.8077c","b0fc91cf.072dd"]]},{"id":"1bffcd77.999a13","type":"ui_text","z":"c2a1f43c.ceb388","group":"5c4c59cc.bc44f8","order":1,"width":0,"height":0,"name":"ORDER STATUS","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"ORDER ITEM\"}} </font></strong>","layout":"row-center","className":"","x":1270,"y":1280,"wires":[]},{"id":"443f7dc0.6a6d24","type":"function","z":"c2a1f43c.ceb388","name":"","func":"let array = [];\nfor(let i = 0; i < msg.payload.length; ++i) {\n    let id = msg.payload[i].id;\n    let name = msg.payload[i].name;\n    array.push(JSON.parse(`{\"${name}\":${id}}`));\n}\nmsg.options = array;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1480,"wires":[["24383db5.56a262"]]},{"id":"4084243f.48f1dc","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `low_stock` SET `ordered`=1 WHERE `id`=$a;","name":"INVENTORY","x":870,"y":1680,"wires":[["4fae142a.b0511c"]]},{"id":"9ef00134.f7c5f","type":"link out","z":"c2a1f43c.ceb388","name":"ordered","links":["3ecc57b7.5ba128","76f84a6d.f5a524"],"x":1195,"y":1680,"wires":[]},{"id":"c950ae2e.8077c","type":"function","z":"c2a1f43c.ceb388","name":"","func":"var a = flow.get(\"order_item\");\n\nmsg.params = {\n    $a: a\n}\n\n// quan hem acabat desactivem el botó CREATE\nflow.set(\"order_item\",undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1580,"wires":[["4084243f.48f1dc"]]},{"id":"b0fc91cf.072dd","type":"function","z":"c2a1f43c.ceb388","name":"SET","func":"msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":1640,"wires":[["24383db5.56a262"]],"icon":"node-red/swap.svg"},{"id":"361666a0.3eb49a","type":"inject","z":"c2a1f43c.ceb388","name":"1s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":310,"y":1800,"wires":[["801c820e.6c4fc"]]},{"id":"801c820e.6c4fc","type":"function","z":"c2a1f43c.ceb388","name":"","func":"if(flow.get(\"order_item\") != undefined) {\n    msg.enabled = true;\n} else {\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1800,"wires":[["4fb3962d.3a5918"]]},{"id":"659d91a7.c8be9","type":"change","z":"c2a1f43c.ceb388","name":"SET","rules":[{"t":"set","p":"order_item","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1580,"wires":[[]]},{"id":"3ecc57b7.5ba128","type":"link in","z":"c2a1f43c.ceb388","name":"","links":["4cf35f5b.b7911","9ef00134.f7c5f","e6c4085e.153a38"],"x":335,"y":1380,"wires":[["38491600.3e393a","60702ac1.98f2f4"]]},{"id":"4fae142a.b0511c","type":"delay","z":"c2a1f43c.ceb388","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":1680,"wires":[["9ef00134.f7c5f"]]},{"id":"b6143f8f.36752","type":"sqlite","z":"c2a1f43c.ceb388","mydb":"f017de5e.2fd5b","sqlquery":"prepared","sql":"-- UPDATE `items` SET `stock_actual`=((SELECT `stock_actual` FROM `items` WHERE `id`=$a)+$b) WHERE `id`=$a;\nUPDATE `low_stock` SET `stock_actual`=(`stock_actual`+$b) WHERE `item_id`=$a;","name":"INVENTORY","x":990,"y":700,"wires":[[]]},{"id":"cb193e65.7bb92","type":"link in","z":"c2a1f43c.ceb388","name":"","links":["e6c4085e.153a38"],"x":315,"y":2180,"wires":[["a5c35438.957408"]]},{"id":"a05e2ef.07b57d","type":"comment","z":"c2a1f43c.ceb388","name":"MIRAREM QUE NO PUGUEM TREURE ALGUN DELS VALORS DE LA LLISTA DE LOW_STOCK (aprofitant queries ja fetes)","info":"","x":660,"y":2100,"wires":[]},{"id":"5f1a9b05.5df254","type":"function","z":"c2a1f43c.ceb388","name":"SET msg.payload","func":"var array_order = [];\nvar array_noorder = [];\n\nfor(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].ordered === 0) {\n        array_noorder.push(msg.payload[i])\n    } else {\n        array_order.push(msg.payload[i])\n    }\n}\nreturn [{payload: array_noorder},{payload: array_order}];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":1380,"wires":[["443f7dc0.6a6d24","f9014612.fa2278"],["7dce8136.f012d"]],"icon":"node-red/swap.svg"},{"id":"e6c4085e.153a38","type":"link out","z":"c2a1f43c.ceb388","name":"low_stock","links":["cb193e65.7bb92","3ecc57b7.5ba128"],"x":815,"y":1480,"wires":[]},{"id":"a5c35438.957408","type":"function","z":"c2a1f43c.ceb388","name":"","func":"for(var i = 0; i < msg.payload.length; ++i) {\n    if(msg.payload[i].min_stock < msg.payload[i].stock_actual) {\n        msg.topic = `DELETE FROM low_stock WHERE id=${msg.payload[i].id}`;\n        node.send(msg);\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":2180,"wires":[["4f2fc019.024be"]]},{"id":"4f2fc019.024be","type":"link out","z":"c2a1f43c.ceb388","name":"low_stock delete if greater/equal","links":["c3d8ee52.a4453"],"x":875,"y":2180,"wires":[]},{"id":"c3d8ee52.a4453","type":"link in","z":"c2a1f43c.ceb388","name":"","links":["4f2fc019.024be"],"x":335,"y":1220,"wires":[["f90ddd78.e92a8"]]},{"id":"6abf21c1.c555","type":"ui_text","z":"c2a1f43c.ceb388","group":"8da86d5c.844a1","order":2,"width":"8","height":"1","name":"","label":"","format":"<strong><font color= #00CCCC><font size= 6 > {{\"ROMANIA\"}} </font></strong>","layout":"row-center","className":"","x":470,"y":160,"wires":[]},{"id":"e6361d02.78bd9","type":"ui_group","name":"Group 3","tab":"b5596b8f.e8a428","order":3,"disp":false,"width":"16","collapse":false,"className":""},{"id":"f017de5e.2fd5b","type":"sqlitedb","db":"/home/pi/inventory.db","mode":"RWC"},{"id":"eab13a32.b8f2a8","type":"ui_group","name":"Group 2","tab":"b5596b8f.e8a428","order":2,"disp":false,"width":"16","collapse":false,"className":""},{"id":"8da86d5c.844a1","type":"ui_group","name":"Group 1","tab":"b5596b8f.e8a428","order":1,"disp":false,"width":"16","collapse":false,"className":""},{"id":"35d1d63d.95944a","type":"telegram bot","botname":"mariosandhar_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"31e8d87b.ae0988","type":"ui_group","d":true,"name":"Group 4","tab":"b5596b8f.e8a428","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"5c4c59cc.bc44f8","type":"ui_group","name":"EDIT ORDER STATUS","tab":"1bb2a854.273838","order":4,"disp":false,"width":"16","collapse":false,"className":""},{"id":"b5596b8f.e8a428","type":"ui_tab","name":"INVENTARIO_STR","icon":"dashboard","order":36,"disabled":false,"hidden":false},{"id":"1bb2a854.273838","type":"ui_tab","name":"INVENTARIO_USER","icon":"dashboard","order":34,"disabled":false,"hidden":false}]